*{
    margin: 0;
    padding: 0;
}
/* .discografia{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 149, 149);
}
.sec-discos{
    
    
    display: flex;
    flex-direction:column;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    
    width: 100%;


     display:flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    max-height: max-content;
    
    
    
} 
.albums{
    display: grid;
    justify-content: center;
    align-items:center;
    
    grid-template-columns: repeat(3,minmax(250px,1fr));
    
    gap:20px 5px; 
    width:100%;
}
*/

/* contenedor */

#discografia{
    background-color: #a59f9f;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-content:center;
}

#discografia h2{
    width: 90%;
    max-width: 1100px;
    margin-left: auto;
}

/* persona__columna */
.album-img img{
    width: 100%;
    object-fit: cover;
    height: 100%;
    border-radius: 20px;

}

.album-img{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    box-shadow: 0px 15px 25px 
    rgba(0, 0, 0, 0.63);
    border-radius: 20px;
    cursor:pointer;
}




#discografia .sec-discos{
    width: 90%;
    max-width: 1100px;
    margin:40px auto; 
    display: grid;
    gap:40px;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
}


/* .album-disco{
    box-sizing: border-box;
    width:100%;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.album-disco figure{
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 px 15px 25px rgba(0,0,0,0,50);
    cursor:pointer;
}
.album-disco figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;

}
.album-disco figure .info-disco{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: rgba(11,103,123,0.6);
    transition: all 500ms ease-out;
    opacity:0;
    visibility: hidden;
    text-align: center;
}

.album-disco figure:hover > .info-disco{
    opacity: 1;
    visibility: visible;
}
.album-disco figure:hover > .info-disco h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.album-disco figure .info-disco h3{
    color: #fff;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.album-disco figure .info-disco p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;

} */